In [9]:
"""
Let's plot an animated map with Python and Plotly

We'll cover:
    
    - Creating an animated choropleth map
    
References:
    - https://towardsdatascience.com/simple-plotly-tutorials-868bd0890b8b
    - https://medium.com/analytics-vidhya/fastest-way-to-install-geopandas-in-jupyter-notebook-on-windows-8f734e11fa2b
"""
import pandas as pd
import plotly.express as px
import numpy as np
import geopandas as gpd
from itertools import product

token = 'pk.eyJ1IjoibHJzcGVuY2VyIiwiYSI6ImNqeWhseHc5dDAweWMzY3FqZGJrdWJnZ2YifQ.TnjuDuRB6KfCreibBqnBaw'

df = pd.read_csv('clean_crime_records.csv', 
                 parse_dates={'Date':['YEAR', 'MONTH']}, 
                 keep_date_col=True)

df = df[(df['LATITUDE'] != 0) & (df['LONGTITUDE'] != 0)]

sample_df = df.sample(2000, random_state = 42)

with open("vancouver.geojson", 'r') as f:
     geojson = gpd.read_file(f.read())
        
geojson = geojson.replace()
    
px.set_mapbox_access_token(token)

print(f"All data: {len(df)} records.")
print(f"Sample size: {len(sample_df)} records.")

sample_df.head(5)

All data: 545336 records.
Sample size: 2000 records.

,Date,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,LONGTITUDE,LATITUDE
422642,2015-08-01,Theft of Bicycle,2015,8,4,21.0,12.0,E HASTINGS ST,Central Business District,492488.77,5458750.55,-123.103276,49.281463
508681,2018-12-01,Theft from Vehicle,2018,12,26,21.0,0.0,E 26TH AVE,Riley Park,492461.82,5455030.68,-123.103577,49.248001
216638,2008-10-01,Theft of Vehicle,2008,10,27,22.0,30.0,ROBSON ST,West End,490255.80,5459757.50,-123.134003,49.290489
516495,2018-02-01,Theft from Vehicle,2018,2,14,18.0,0.0,ROBSON ST,West End,490652.78,5459375.41,-123.128535,49.287058
452218,2016-07-01,Theft of Bicycle,2016,7,16,4.0,0.0,MAIN ST,Riley Park,492646.26,5455350.23,-123.101048,49.250878

## Totals

In [10]:
df_filtered = (sample_df 
    .query('NEIGHBOURHOOD != "Stanley Park"')
    .replace({
        'Central Business District':'Downtown',
        'Musqueam':'Dunbar-Southlands',
        'Strathcona':'Strathcona\n',
        
    }))

df_filtered = (df_filtered 
    .replace({
        'Dunbar-Southlands':'Dunbar Southlands',
    }))

df_grouped_by_neighbourhood = df_filtered \
    .groupby('NEIGHBOURHOOD') \
    .size()

df_grouped_by_neighbourhood

NEIGHBOURHOOD
Arbutus Ridge                27
Downtown                    467
Dunbar Southlands            36
Fairview                    134
Grandview-Woodland          112
Hastings-Sunrise             78
Kensington-Cedar Cottage    107
Kerrisdale                   25
Killarney                    38
Kitsilano                    95
Marpole                      47
Mount Pleasant              118
Oakridge                     31
Renfrew-Collingwood         126
Riley Park                   51
Shaughnessy                  24
South Cambie                 13
Strathcona\n                111
Sunset                       80
Victoria-Fraserview          33
West End                    195
West Point Grey              31
dtype: int64

In [11]:
geojson

,name,created_at,updated_at,cartodb_id,geometry
0,Dunbar Southlands,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,1,"MULTIPOLYGON (((-123.17909 49.21708, -123.1791..."
1,Hastings-Sunrise,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,3,"MULTIPOLYGON (((-123.05660 49.26215, -123.0566..."
2,Mount Pleasant,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,17,"MULTIPOLYGON (((-123.11484 49.27112, -123.1146..."
3,Fairview,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,18,"MULTIPOLYGON (((-123.13879 49.27487, -123.1388..."
4,Downtown,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,19,"MULTIPOLYGON (((-123.10293 49.27303, -123.1029..."
5,West End,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,21,"MULTIPOLYGON (((-123.13615 49.27572, -123.1362..."
6,Killarney,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,5,"MULTIPOLYGON (((-123.05684 49.20536, -123.0568..."
7,Kerrisdale,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,6,"MULTIPOLYGON (((-123.14953 49.20618, -123.1495..."
8,Sunset,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,7,"MULTIPOLYGON (((-123.10618 49.21892, -123.1061..."
9,Marpole,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,8,"MULTIPOLYGON (((-123.14953 49.20618, -123.1495..."
10,Kitsilano,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,9,"MULTIPOLYGON (((-123.18553 49.27327, -123.1855..."
11,Victoria-Fraserview,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,10,"MULTIPOLYGON (((-123.07714 49.20858, -123.0771..."
12,West Point Grey,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,13,"MULTIPOLYGON (((-123.20320 49.25820, -123.2062..."
13,Kensington-Cedar Cottage,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,4,"MULTIPOLYGON (((-123.09056 49.23289, -123.0905..."
14,Renfrew-Collingwood,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,2,"MULTIPOLYGON (((-123.05888 49.23286, -123.0588..."
15,Oakridge,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,15,"MULTIPOLYGON (((-123.14015 49.21935, -123.1401..."
16,Riley Park,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,11,"MULTIPOLYGON (((-123.10566 49.23316, -123.1062..."
17,Shaughnessy,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,12,"MULTIPOLYGON (((-123.13959 49.23433, -123.1405..."
18,Grandview-Woodland,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,14,"MULTIPOLYGON (((-123.07750 49.26238, -123.0774..."
19,Arbutus Ridge,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,16,"MULTIPOLYGON (((-123.17026 49.23474, -123.1702..."
20,South Cambie,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,20,"MULTIPOLYGON (((-123.12807 49.23395, -123.1280..."
21,Downtown Eastside,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,24,"MULTIPOLYGON (((-123.09988 49.27604, -123.1022..."
22,Strathcona\n,2013-02-18T22:45:32.077000+00:00,2013-02-19T02:31:43.249001+00:00,22,"MULTIPOLYGON (((-123.10003 49.27278, -123.0999..."

In [12]:
df_counts_total = pd.DataFrame(df_grouped_by_neighbourhood,
                               columns = ['Count']).reset_index()
                  
df_merged_total = geojson \
    .set_index('name') \
    .join(df_counts_total.set_index('NEIGHBOURHOOD'))

df_merged_total.head(5)

,created_at,updated_at,cartodb_id,geometry,Count
name,,,,,
Dunbar Southlands,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,1,"MULTIPOLYGON (((-123.17909 49.21708, -123.1791...",36.0
Hastings-Sunrise,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,3,"MULTIPOLYGON (((-123.05660 49.26215, -123.0566...",78.0
Mount Pleasant,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,17,"MULTIPOLYGON (((-123.11484 49.27112, -123.1146...",118.0
Fairview,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,18,"MULTIPOLYGON (((-123.13879 49.27487, -123.1388...",134.0
Downtown,2013-02-18T22:45:32.077000+00:00,2013-02-18T22:45:32.384998+00:00,19,"MULTIPOLYGON (((-123.10293 49.27303, -123.1029...",467.0

In [13]:
fig = px.choropleth_mapbox(df_merged_total,
                           geojson=geojson,
                           featureidkey='properties.name',
                           locations=df_merged_total.index,
                           color='Count',
                           hover_name=df_merged_total.index,
                           hover_data=['Count'],
                           color_continuous_scale='Reds',
                           mapbox_style='carto-positron',
                           title='Number of Crimes in Vancouver Neighborhoods',
                           center={'lat':49.25, 'lon':-123.13},
                           zoom=11,
                           opacity=0.75,
                           labels={'Count':'Count'},
                           width=1200,
                           height=800)

fig.write_html("outputs/choropleth.html")

## Animated

In [14]:
df_counts_rolling = pd.DataFrame(df_filtered.groupby(['Date', 'NEIGHBOURHOOD']).size(), 
                                 columns = ['Count']).reset_index()

df_counts_rolling.head(5)

        Date             NEIGHBOURHOOD  Count
0 2003-01-01             Arbutus Ridge      1
1 2003-01-01                  Downtown      9
2 2003-01-01                  Fairview      1
3 2003-01-01        Grandview-Woodland      3
4 2003-01-01  Kensington-Cedar Cottage      1

In [15]:
# Initiate empty df with every combination of Time x Neighborhood 
df_crime_final = pd.DataFrame(product(df_counts_rolling['NEIGHBOURHOOD'].unique(),
                              df_counts_rolling['Date'].unique()), 
                              columns = ['NEIGHBOURHOOD', 'Date'])
                 
# Get cumulative sum of crime counts for available time / neighborhood combinations
df_crime_cumsum = pd.DataFrame(df_counts_rolling.groupby(['NEIGHBOURHOOD', 'Date'], group_keys=False) \
                    .sum() \
                    .groupby(level=0) \
                    .cumsum() \
                    .reset_index())
                  
# Merge cumulative sum df with empty df
df_crime_final = df_crime_final\
                    .merge(df_crime_cumsum, on=['NEIGHBOURHOOD', 'Date'], how='left') \
                    .sort_values(['NEIGHBOURHOOD', 'Date'])
                 
# fill empty values by repeating previous values and adding 0s for initial timestamps
df_crime_final = df_crime_final \
                    .groupby('NEIGHBOURHOOD', group_keys=False) \
                    .apply(lambda x : x.ffill().fillna(0))
                 
df_crime_final.head(10)

   NEIGHBOURHOOD       Date  Count
0  Arbutus Ridge 2003-01-01    1.0
1  Arbutus Ridge 2003-02-01    1.0
2  Arbutus Ridge 2003-03-01    1.0
3  Arbutus Ridge 2003-04-01    1.0
4  Arbutus Ridge 2003-05-01    2.0
5  Arbutus Ridge 2003-06-01    4.0
6  Arbutus Ridge 2003-07-01    4.0
7  Arbutus Ridge 2003-08-01    4.0
8  Arbutus Ridge 2003-09-01    5.0
9  Arbutus Ridge 2003-10-01    5.0

In [16]:
# Reformat Date as string for Plotly
df_crime_final['Date'] = df_crime_final['Date'].astype(str)

fig = px.choropleth_mapbox(df_crime_final,
                           geojson=geojson,
                           featureidkey='properties.name',
                           locations='NEIGHBOURHOOD',
                           color='Count',
                           hover_name='NEIGHBOURHOOD',
                           hover_data=['Count'],
                           color_continuous_scale='Reds',
                           animation_frame='Date',
                           mapbox_style='carto-positron',
                           title='Cumulative Numbers of Crimes in Vancouver Neighborhoods',
                           center={'lat':49.25, 'lon':-123.13},
                           zoom=11,
                           opacity=0.75,
                           labels={'Count':'Count'},
                           width=1200,
                           height=800)

fig.write_html("outputs/animated_choropleth.html")